Repository coconutbeaches/hotel-voice-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "*.{json,yaml,yml}": ["prettier --write"]
}

chore: cleanup legacy transcribe route after App Router migration
  vercel.json
Due: prettier --write

fix: remove custom vercel.json to allow Next.js App Router build
  api/transcribe.ts
  apps/web/public/simple-voice-test.html
  apps/web/public/test-voice.html
  vercel.json
Due: eslint --fix, prettier --write

fix: restore /api/transcribe.ts for Vercel functions
  apps/web/app/api/transcribe/route.ts
  packages/api/src/services/openaiClient.ts
Due: eslint --fix, prettier --write

fix: add vercel.json and .vercelignore to prevent source code exposure
  .vercelignore
  vercel.json
Due: prettier --write

fix: handle OpenAI file param and log transcription errors
  api/transcribe.ts
  fix-transcribe-whisper.txt
  packages/api/src/services/openaiClient.ts
Due: eslint --fix, prettier --write

fix: use proper OpenAI file format with file-type detection for transcription
  package.json
  packages/api/src/services/openaiClient.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: correct file shape for OpenAI Whisper API
  api/transcribe.ts
  packages/api/src/services/openaiClient.ts
Due: eslint --fix, prettier --write

fix: use createReadStream for OpenAI Whisper API
  packages/api/src/services/openaiClient.ts
Due: eslint --fix, prettier --write

fix: wrap audio file in FormData to meet OpenAI API requirements
  packages/api/src/services/openaiClient.ts
Due: eslint --fix, prettier --write

fix: broken imports in /api/transcribe.ts for Vercel
  api/transcribe.ts
Due: eslint --fix, prettier --write

fix: add openai SDK to resolve missing module error
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add verbose error logging for Whisper API response
  api/transcribe.ts
Due: eslint --fix, prettier --write

fix: restore all required keys to .env.example for correct onboarding
  .env.example
  README.md
Due: prettier --write, markdownlint-cli2 --fix

feat: add real-time voice widget with OpenAI GPT-4o streaming
  api/voice-socket.js
  package.json
  pnpm-lock.yaml
  static/index.html
  static/voice-widget-demo.html
  static/voice-widget.js
  vercel.json
Due: eslint --fix, prettier --write

fix: correct Voice Assistant button path and resolve 404
  static/index.html
  static/voice-widget-demo.html
Due: none

fix: properly serve static files instead of Next.js app
  .vercelignore
  vercel.json
Due: prettier --write

fix: point voice widget WebSocket to Fly.io backend
  static/voice-widget.js
Due: eslint --fix, prettier --write

fix: configure Vercel to serve static files properly
  vercel.json
Due: prettier --write

fix: update vercelignore to exclude conflicting files
  .vercelignore
  fly-server/Dockerfile
  fly-server/fly.toml
  fly-server/package.json
  fly-server/server.js
  index.html.bak
  public.bak/test-voice.html
  websocket-server/fly.toml
  websocket-server/package.json
  websocket-server/server.js
Due: eslint --fix, prettier --write

feat: add WebSocket test page for Fly.io backend
  static/test-fly-websocket.html
Due: none

fix: switch voice widget to Fly.io WebSocket backend
  packages/voice-widget/public/index.html
  packages/voice-widget/src/VoiceWidget.tsx
  packages/voice-widget/src/embed.ts
Due: eslint --fix, prettier --write

fix: allow index.html in Vercel deployment
  .vercelignore
  vercel.json
Due: prettier --write

style: update step number buttons to use dark background with white text
  static/voice-widget-demo.html
Due: none

feat: change WebSocket endpoint from /api/voice-socket to /voice
  fly-server/server.js
Due: eslint --fix, prettier --write

feat: add comprehensive debugging logs for voice widget audio flow
  fly-server/server.js
  static/voice-widget.js
Due: eslint --fix, prettier --write

fix: resolve race condition preventing stop message from being sent
  static/voice-widget.js
Due: eslint --fix, prettier --write

fix: resolve voice widget message display and event listener issues
  static/voice-widget.js
Due: eslint --fix, prettier --write

feat: add detailed message logging for debugging voice widget
  static/voice-widget.js
Due: eslint --fix, prettier --write

fix: improve backend message handling to distinguish JSON from audio data
  fly-server/server.js
Due: eslint --fix, prettier --write

feat: add form-data dependency for FormData support
  fly-server/package-lock.json
Due: prettier --write

ci: add staging branch to CI workflow triggers
  .github/workflows/ci.yml
Due: prettier --write

fix: resolve linting and formatting issues for staging deployment
  fly-server/package.json
  fly-server/server.js
  fly-server/transcription.test.js
  fly-server/websocket.spec.js
  packages/integrations/src/core/cache-manager.ts
  packages/integrations/src/core/circuit-breaker.d.ts
  packages/integrations/src/core/circuit-breaker.test.ts
  packages/integrations/src/core/circuit-breaker.ts
  packages/integrations/src/core/logger.d.ts
  packages/integrations/src/core/logger.ts
  packages/integrations/src/core/monitoring-middleware.ts
  packages/integrations/src/pms/pms-service.d.ts
  packages/integrations/src/pms/pms-service.test.ts
  packages/integrations/src/pms/pms-service.ts
  static/voice-websocket-client.js
  static/voice-widget.js
Due: eslint --fix, prettier --write

fix: standardize WebSocket message types and add debug logging
  fly-server/package.json
  fly-server/server.js
Due: eslint --fix, prettier --write

fix: update frontend to handle standardized WebSocket message types
  static/voice-widget.js
Due: eslint --fix, prettier --write

fix: update frontend for standardized WebSocket message types
  static/voice-widget.js
Due: eslint --fix, prettier --write

feat: update voice widget and backend for staging test
  deployment_status.md
Due: prettier --write, markdownlint-cli2 --fix

fix: properly write audio buffer to file and upload to Whisper API as multipart/form-data
  fly-server/server.js
Due: eslint --fix, prettier --write

fix: handle NotAllowedError for TTS autoplay with Tap to Play button
  static/voice-widget.js
Due: eslint --fix, prettier --write

fix: add comprehensive error logging for voice transcription pipeline
  packages/api/src/routes/voice.ts
  packages/api/src/routes/voiceSocket.ts
  packages/api/src/services/openaiClient.ts
  websocket-server/server.js
Due: eslint --fix, prettier --write

debug: add comprehensive canary logging for voice transcription pipeline
  packages/api/src/routes/voiceSocket.ts
  websocket-server/server.js
Due: eslint --fix, prettier --write
