Repository coconutbeaches/hotel-voice-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "*.{json,yaml,yml}": ["prettier --write"]
}

feat: Complete voice-to-voice FAQ MVP implementation
  .env.example
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/enforce-tagging.yml
  .markdownlint-cli2.jsonc
  CONTRIBUTING.md
  README.md
  docs/MVP_DEPLOYMENT.md
  docs/process/operational-maturity.md
  docs/runbooks/deployment.md
  docs/runbooks/hot-patch.md
  docs/runbooks/rollback.md
  docs/snippets/post_mortem.md
  packages/api/package.json
  packages/api/src/routes/whatsapp.ts
  packages/api/src/services/faq/faqService.ts
  packages/api/src/services/messaging/messageLogger.ts
  packages/api/src/services/whatsapp/wahaClient.ts
  packages/api/src/start.ts
  packages/integrations/src/openai/index.ts
  packages/scripts/migrations/001_add_bot_tables.sql
  packages/scripts/migrations/002_add_increment_function.sql
  packages/scripts/migrations/README.md
  packages/scripts/src/index.ts
  packages/scripts/src/populate-faqs.ts
  packages/scripts/src/test-faq-matching.ts
  scripts/setup-mvp.sh
  scripts/update-doc-timestamps.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

feat: Add comprehensive backup system and deployment setup
  POST_DEPLOY_CHECKLIST.md
  QUICKSTART_FLY.md
  docs/SECRETS_FLY.md
  docs/thailand-operational-notes.md
  packages/api/jest.setup.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

fix: Fix Dockerfile to avoid husky issue in production
  Dockerfile
Due: none

Add comprehensive Fly.io migration documentation and PR materials
  AWS_DOCUMENTATION_ARCHIVE.md
  FLY_IO_MIGRATION_PLAN.md
  PR_DESCRIPTION.md
Due: prettier --write, markdownlint-cli2 --fix

fix: Remove Jest types from shared package tsconfig for production build
  packages/shared/tsconfig.json
Due: prettier --write

fix: Remove Jest types from all package tsconfigs for production build
  packages/integrations/tsconfig.json
  packages/scripts/tsconfig.json
Due: prettier --write

fix: Exclude scripts package from build for deployment
  package.json
Due: prettier --write

fix: Build only API and shared packages for deployment
  Dockerfile
  package.json
Due: prettier --write

fix: Remove Jest types from API package tsconfig for production build
  packages/api/tsconfig.json
Due: prettier --write

Add Step 11 completion summary and final workflow updates
  .github/workflows/fly-deploy.yml
  STEP_11_COMPLETION_SUMMARY.md
  fly.toml
Due: prettier --write, markdownlint-cli2 --fix

feat: add nixpacks config for Railway deployment
  nixpacks.toml
Due: none

fix: remove Dockerfile and fix husky prepare script
  .npmrc
  DEPLOYMENT_CHECKLIST.md
  Dockerfile
  build.sh
  fly.staging.toml
  package.json
  packages/api/fly.toml
  packages/api/package.json
  packages/api/src/routes/whatsapp.ts
  packages/api/src/services/faq/faqService.ts
  packages/api/src/services/messaging/messageLogger.ts
  packages/api/src/services/nlp/conversationMemory.ts
  packages/api/src/services/nlp/nlpController.ts
  packages/api/src/services/whatsapp/messageQueue.ts
  packages/api/tsconfig.json
  packages/integrations/package.json
  packages/integrations/src/core/cache-manager.d.ts
  packages/integrations/src/core/cache-manager.js
  packages/integrations/src/core/circuit-breaker.d.ts
  packages/integrations/src/core/circuit-breaker.js
  packages/integrations/src/core/logger.d.ts
  packages/integrations/src/core/logger.js
  packages/integrations/src/core/monitoring-middleware.d.ts
  packages/integrations/src/core/monitoring-middleware.js
  packages/integrations/src/index.d.ts
  packages/integrations/src/index.js
  packages/integrations/src/openai/index.d.ts
  packages/integrations/src/openai/index.js
  packages/integrations/src/pms/pms-service.d.ts
  packages/integrations/src/pms/pms-service.js
  packages/integrations/src/supabase/client.d.ts
  packages/integrations/src/supabase/client.js
  packages/integrations/src/supabase/index.d.ts
  packages/integrations/src/supabase/index.js
  packages/integrations/tsconfig.json
  packages/shared/tsconfig.json
  pnpm-lock.yaml
  railway.json
  railway.toml
  validate-production.sh
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

fix: adjust default port to 8080 for Railway deployment compatibility
  package.json
  packages/api/src/index.ts
Due: eslint --fix, prettier --write

docs: Add WAHA documentation and runbooks
  docs/runbooks/waha-deploy.md
  docs/runbooks/waha-healthcheck.md
  docs/waha-env-audit.md
Due: prettier --write, markdownlint-cli2 --fix

fix: make WAHA optional and add resilient setup
  docs/waha-secrets.md
  packages/api/fly.toml
  packages/api/src/index.ts
  packages/api/src/scripts/setupWaha.ts
  packages/api/src/services/whatsapp/wahaClient.ts
  packages/api/src/services/whatsapp/wahaClientStub.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

fix: update logger for production and add debug logging to server startup
  packages/api/src/index.ts
  packages/api/src/utils/logger.ts
  packages/api/test-production.cjs
Due: eslint --fix, prettier --write

fix: resolve all TypeScript type narrowing errors in WhatsApp templates and API routes
  packages/api/src/index.ts
  packages/api/src/routes/whatsapp.ts
  packages/api/src/services/openaiClient.ts
  packages/api/src/services/whatsapp/templateService.ts
  packages/api/test-production.cjs
Due: eslint --fix, prettier --write

feat: add voice transcription and response endpoint
  docs/runbooks/waha-healthcheck.md
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/routes/voice.ts
  sample.webm
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

fix: bind server to 0.0.0.0:3000 for Fly.io compatibility
  packages/api/src/index.ts
  packages/api/src/services/openaiClient.ts
Due: eslint --fix, prettier --write

fix: update lockfile for Vercel deployment
  .npmrc
  pnpm-lock.yaml
Due: prettier --write

feat: add voice widget package and WebSocket voice routes
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/routes/voiceSocket.ts
  packages/api/src/services/openaiClient.ts
  packages/voice-widget/package.json
  packages/voice-widget/public/index.html
  packages/voice-widget/src/VoiceWidget.scss
  packages/voice-widget/src/VoiceWidget.tsx
  packages/voice-widget/src/embed.ts
  packages/voice-widget/vite.config.ts
Due: eslint --fix, prettier --write

fix: use pnpm build command for Vercel deployment
  package.json
Due: prettier --write

fix: add vercel.json for API deployment
  vercel.json
Due: prettier --write

fix: update vercel.json for serverless API deployment
  vercel.json
Due: prettier --write

feat: add POST /api/transcribe route for audio transcription
  packages/api/src/index.ts
  packages/api/src/routes/transcribe.ts
Due: eslint --fix, prettier --write

feat: add Vercel serverless function for audio transcription
  api/transcribe.ts
Due: eslint --fix, prettier --write

refactor: move transcribe endpoint to Vercel serverless function
  api/transcribe.ts
  packages/api/src/index.ts
  packages/api/src/routes/transcribe.ts
Due: eslint --fix, prettier --write

fix: remove vercel.json config to enable automatic serverless function detection
  vercel.json
Due: prettier --write

fix: configure transcribe as Vercel function with proper format
  api/transcribe.ts
  vercel.json
Due: eslint --fix, prettier --write

fix: update transcribe endpoint to handle raw audio blobs from voice widget
  api/transcribe.ts
Due: eslint --fix, prettier --write

feat: add voice transcription test page
  public/test-voice.html
Due: none

fix: configure vercel to properly serve static files from public directory
  vercel.json
Due: prettier --write

fix: configure Vercel to serve static files without build step
  test-voice.html
  vercel.json
Due: prettier --write

feat: add index page with links to test pages and fix ESLint issues
  index.html
  package.json
  pnpm-lock.yaml
  test-transcribe-package.json
  test-transcribe.js
Due: eslint --fix, prettier --write

feat: add simple voice test page
  simple-voice-test.html
Due: none

fix: update vercel config to serve static files correctly
  .gitignore
  static/index.html
  static/simple-voice-test.html
  static/test-voice.html
  vercel.json
Due: prettier --write

fix: replace absolute URL with localhost default in test-transcribe.js
  test-transcribe.js
Due: eslint --fix, prettier --write

fix: replace absolute URLs with relative paths in HTML test files
  index.html
  public/test-voice.html
  static/index.html
  static/test-voice.html
  test-voice.html
Due: none

fix: switch /api/transcribe to App Router with fetch-based Whisper call
  api/transcribe.ts
  apps/web/app/api/transcribe/route.ts
Due: eslint --fix, prettier --write
